@tailwind preflight;

@tailwind components;
body {
    font-family: 'Lato', sans-serif;
}
header a {
    @apply .text-black;
}

.hero {
    @apply .bg-top .bg-no-repeat .bg-cover;
    background: 
        linear-gradient(
            rgba(17, 145, 34, 0.20), 
            rgba(17, 145, 34, 0.20)
        ),
        url('../../images/hero.jpg');
    height: 400px;
    @media only screen and (max-width: 767px) {
        height: 250px;
    }
}

.active {
    @apply .text-white .bg-green .border-green;
}

@tailwind utilities;
