@tailwind base;

@tailwind components;
body {
    font-family: 'Lato', sans-serif;
}
header a {
    @apply .text-black;
}

.hero {
    @apply .bg-top .bg-no-repeat .bg-cover;
    background: 
        linear-gradient(
            rgba(12, 108, 34, 0.40), 
            rgba(12, 108, 34, 0.40)
        ),
        url('https://res.cloudinary.com/noble-integrations/image/upload/v1568923636/BCM/hero_image4_pc7qkx.jpg');
    height: 400px;
    @media only screen and (max-width: 767px) {
        height: 250px;
    }
}

.active {
    @apply .text-white .bg-customGreenDarker .border-customGreenDarker;
}

@tailwind utilities;
